on boot
 #   setprop net.eth0.dns1 10.32.192.11
#    setprop net.eth0.dns2 10.32.193.11
    setprop ro.build.product transform
    setprop ro.product.device transform
    setprop ro.radio.noril no

service apollo-setup /system/etc/init.SPH-M920.sh
    oneshot

